.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .content {
    display: flex;
    color: #f8f9fa;
    gap: 150px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    max-width: 1220px;
    width: 100%;
  }
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 560px;
  gap: 20px;
  > h2 {
    font-size: 70px;
    margin: 0;
  }
}
.col-2 {
  margin-top: 50px;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.btn-section,
.legal {
  height: 80px;
}
.legal {
  display: flex;
  align-items: end;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  border: 1px solid #f8f9fa;
  background-color: transparent;
  box-shadow: 2px 4px 0 0 #f8f9fa;
  color: #f8f9fa;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 18px;
  width: 154px;
  height: 40px;
  z-index: 10;
  &:hover {
    background-color: #f87a55;
    transform: translate(2px, 4px);
    box-shadow: none;
    cursor: pointer;
  }
}

footer {
  margin-bottom: 50px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  width: 100%;
  gap: 20px;
  > p {
    margin: 0;
  }
  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  > img {
    width: 50px;
    height: 50px;
  }
}

.footer-1 {
  flex-direction: column;
  > img {
    width: 80px;
    height: 80px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.img-wrap {
  display: flex;
  justify-content: flex-end;
  > img {
    width: 300px;
  }
}


.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.custom-checkbox {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  display: inline-block;
  display: flex;
  align-items: center;
  > p {
    margin: 0;
  }
}

.checkbox-section {
  display: flex;
}


.custom-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image: url("/angular-projects/Portfolio/assets/img/checkbox-1.png");
  background-size: cover;
  transition: all 0.2s ease;
}


.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image: url("/angular-projects/Portfolio/assets/img/check-1.png");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.custom-checkbox:has(input[type="checkbox"]:checked)::after {
  opacity: 1;
}

.legal {
  position: relative;
  .legalDrawnLine {
    right: -20px;
    top: 28px !important;
    z-index: 999;
    position: absolute;
    top: 3px;
    right: -12px;
    width: 120px;
    height: auto;
  }
}

.github-icon,
.linkedin-icon,
.email-icon {
  opacity: 0;
}

.github,
.linkedin,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: #f8f9fa;
  width: 134px; 
  height: 40px;
  transition: width 0.6s ease-out;
  &:hover {
    cursor: pointer;
  }
  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    opacity: 1;
    transition: opacity 0.01s ease;
    text-align: center;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(51, 85, 255);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.links {
  align-items: flex-end;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 110px;
  gap: 10px;
  &:hover {
    color: #f87a55;
  }
}

.label {
  font-size: 24px;
}

.form {
  height: 300px;
  gap: 30px;
}
.separator-line {
  width: 100%;
  height: 1px;
  background-color: rgb(247, 197, 24);
}

.custom-input {
  background-color: transparent !important;
  resize: vertical;
  border: none;
  height: 30px;
  outline: none;
  color: #f8f9fa;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 18px;
  &:focus {
    background-color: transparent;
    border: none;
    outline: none;
  }
  &::placeholder {
    color: #f8f9fa;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 18px;
  }
  &:webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #f8f9fa !important;
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

.hover-line {
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.blue {
  background-color: #3355ff;
}

.disabled {
  color: rgb(125, 125, 125);
  border: 1px solid rgb(125, 125, 125);
  box-shadow: 2px 4px 0 0 rgb(125, 125, 125);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-size: 18px;
  width: 154px;
  height: 40px;
  &:hover {
    background-color: transparent;
    cursor: not-allowed;
  }
}

.section {
  position: relative;
}

.form-group {
  margin: 2rem 0;
}

input {
  width: 300px;
  padding: 12px;
  font-size: 16px;
}

.placeholder-wrap {
  position: absolute;
  top: 42px;
  left: 12px;
  font-size: 18px;
  color: #463f3f;
  pointer-events: none;
  transition: color 0.2s;
  width: 100%;
  height: 100%;
}

.error {
  color: red;
  position: absolute;
  top: 0px;
  width: 100%;
}
.name-msg {
  position: absolute;
  top: 13px;
}

.placeholder-wrap.hidden {
  display: none;
}

.placeholder-default {
  color: #aaa; 
}

.placeholder-error {
  color: red;
}

textarea {
  padding-left: 12px;
}

h3 {
  font-size: 19px;
}

.btn-pages {
  display: flex;
}

@import "./responsive";
