<div class="content-wrap" id="contact">
  <div class="content">
    <div class="msg" [ngClass]="showLogMsg ? 'msgHidden' : 'msgVisible'">
      <p>{{ "MESSAGE_LOG" | translate }}</p>
    </div>
    <div class="col-1">
      <h3>{{ "CONTACT.CONTACT" | translate }}</h3>
      <h2>{{ "CONTACT.READY" | translate }}</h2>
      <p>
        {{ "CONTACT.TEXT_1" | translate }}
      </p>
      <p>
        {{ "CONTACT.TEXT_2" | translate }}
      </p>
      <div class="img-wrap">
        <img
          class="arrow"
          src="assets/drawn-lines/contact.png"
          alt="Arrow Image"
        />
      </div>
    </div>
    <div class="col-2">
      <app-contact-form
        (formSubmitted)="onFormSubmitted($event)"
      ></app-contact-form>
    </div>
  </div>
 <app-footer></app-footer>
</div>
