<div class="wrapper">
  <div class="hero-main">
    <div class="profil-photo-section">
      <img class="profil-frame" src="assets/img/polaroid-frame.png" alt="Polaroid frame" />
      <p>Dora :)</p>
    </div>
    <div class="section-welc">
      <img
        class="wav-hand"
        src="assets/icon/waving_hand.svg"
        alt="waving hand"
      />

      <div
        class="btn-welcome btn"
        (mouseenter)="putHover()"
        (mouseleave)="deleteHover()"
      >
        <p class="world-welc" [class.visible]="!hovered">Hello World</p>
        <p class="name-welc" [class.visible]="hovered">I'M DORA TELEKESI</p>
      </div>
    </div>
    <div class="section-title">
      <div>
        <h1 class="title t-1">Frontend</h1>
        <img
          class="p-frame"
          src="assets/img/polaroid-frame.png"
          alt="Polaroid frame"
        />
      </div>
      <div><h1 class="title t-2">DEVELOPER</h1></div>
    </div>

    <div class="btn-cont btn">Get in Touch</div>
    <div class="media-icons">
      <div class="icon">
        <img src="assets/icon/Linkedin.svg" alt="Linkedin Icon" />
      </div>
      <div class="icon">
        <img src="assets/icon/Github.svg" alt="Github Icon" />
      </div>
      <div class="icon">
        <img src="assets/icon/Email.svg" alt="Email Icon" />
      </div>
    </div>
  </div>
</div>
