.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f8f9fa;
  margin-top: 20px;
  width: 100%;
  max-width: 1220px;
  position: absolute;
}

.header-resp,
.menu-resp,
.media-icons-resp {
  display: none;
}

app-header {
  max-width: 1990px;
}

.h-btn-wrap {
  > img {
    position: absolute;
    top: 5px;
    right: -12px;
    width: 100px;
    height: auto;
    z-index: 0;
    clip-path: inset(100% 0% 0% 0%); 
  }
  &:hover {
    cursor: pointer;
  }
}

.h-btn-wrap {
  position: relative;

  > p.h-btn {
    position: relative;
    z-index: 999; 
  }

  .aboutDrawnLine {
    position: absolute;
    top: -10px;
    right: -8px;
    width: 90px;
    height: auto;
    z-index: 1;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 0%,
      0% 0%
    ); 
  }
}

.about-me {
  max-height: 300px;
  transition: height 0.3s ease;
  &:hover {
    cursor: pointer;
  }
}

.projects {
  .projectDrawnLine {
    right: -16px;
    top: 2px;
    z-index: 999;
  }
}

.skills {
  .skillsDrawnLine {
    position: absolute;
    right: -19px;
    top: -10px;
    z-index: 999;
  }
}

.contact {
  .contactDrawnLine {
    right: -20px;
    top: -10px;
    z-index: 999;
  }
}

.t-switch {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  > .en,
  .de {
    position: relative;
    > img {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 10px;
      right: -7px;
      height: auto;
      z-index: 1;
    }
  }
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 35px;
}

.en {
  &:hover {
    cursor: pointer;
  }
}

.logo,
.name-logo-resp {
  width: 80px;
  height: 80px;
}

.de {
  &:hover {
    cursor: pointer;
  }
}

.black {
  color: black;
  font-weight: 700;
  text-shadow: 2px 0px 2px#f8f9fa;
}

.white {
  color: #f8f9fa;
}

@import "./responsive";
