<div class="header">
  <img src="assets/icon/logo.svg" alt="logo" />
  <a [routerLink]="['/']" fragment="about-me">
    <div
      class="h-btn-wrap about-me"
      (mouseenter)="putHoverAbout()"
      (mouseleave)="deleteHoverAbout()"
    >
      <p class="h-btn">{{ "HEADER.ABOUT_ME" | translate }}</p>
      <img
        class="aboutDrawnLine"
        #aboutDrawnLine
        src="assets/drawn-lines/1.png"
        alt=""
      /></div
  ></a>
  <a [routerLink]="['/']" fragment="skills">
    <div
      class="h-btn-wrap skills"
      (mouseenter)="putHover('skillsDrawnLine')"
      (mouseleave)="deleteHover('skillsDrawnLine')"
    >
      <p class="h-btn">{{ "HEADER.SKILLS" | translate }}</p>
      <img
        class="skillsDrawnLine"
        #skillsDrawnLine
        src="assets/drawn-lines/2.png"
        alt=""
      /></div
  ></a>
  <a [routerLink]="['/']" fragment="projects">
    <div
      class="h-btn-wrap projects"
      (mouseenter)="putHover('projectDrawnLine')"
      (mouseleave)="deleteHover('projectDrawnLine')"
    >
      <p class="h-btn">{{ "HEADER.PROJECTS" | translate }}</p>
      <img
        class="projectDrawnLine"
        #projectDrawnLine
        src="assets/drawn-lines/4.png"
        alt=""
      /></div
  ></a>
  <a [routerLink]="['/']" fragment="contact">
    <div
      class="h-btn-wrap contact"
      (mouseenter)="putHover('contactDrawnLine')"
      (mouseleave)="deleteHover('contactDrawnLine')"
    >
      <p class="h-btn">{{ "HEADER.CONTACT" | translate }}</p>
      <img
        class="contactDrawnLine"
        #contactDrawnLine
        src="assets/drawn-lines/3.png"
        alt="drawn-line"
      />
    </div>
  </a>
  <div class="h-btn t-switch">
    <span
      (mouseenter)="putHoverEnglish()"
      (mouseleave)="deleteHoverEnglish()"
      (click)="switchToEnglish()"
      class="en"
    >
      <p
        class="text-en"
        [ngStyle]="{ color: this.status == 'german' ? '#f8f9fa' : '#F87A55' }"
      >
        EN
      </p>
      <img class="img-en" #en src="assets/img/Toggle.png" alt="" />
    </span>
    <span class="toggle">
      <img
        class="toggle-btn"
        #toggleBtn
        src="assets/img/toggle-btn.png"
        alt=""
      />
      <img src="assets/img/toggle-bar.png" alt="" />
    </span>
    <span
      (mouseenter)="putHoverGerman()"
      (mouseleave)="deleteHoverGerman()"
      (click)="switchToGerman()"
      class="de"
    >
      <p
        class="text-de"
        [ngStyle]="{ color: this.status == 'english' ? '#f8f9fa' : '#F87A55' }"
      >
        DE
      </p>
      <img class="img-de" #de src="assets/img/Toggle.png" alt=""
    /></span>
  </div>
</div>
