<div class="header">
  <img src="assets/icon/logo.svg" alt="logo" />
  <div class="h-btn-wrap about-me">
    <p class="h-btn">About me</p>
    <img src="assets/drawn-lines/1.png" alt="" />
  </div>
  <div class="h-btn-wrap skills">
    <p class="h-btn">Skills</p>
    <img src="assets/drawn-lines/2.png" alt="" />
  </div>
  <div class="h-btn-wrap projects">
    <p class="h-btn">Projects</p>
    <img src="assets/drawn-lines/4.png" alt="" />
  </div>
  <div class="h-btn-wrap contact">
    <p class="h-btn">Contact</p>
    <img src="assets/drawn-lines/3.png" alt="" />
  </div>
  <p class="h-btn t-switch">Toggle Switch</p>
</div>
