<div class="header" [ngClass]="respMenuOpened ? 'visibleMenu' : 'hiddenMenu'">
  <img class="logo" src="assets/icon/logo.png" alt="logo" />
  <a (click)="goToSection('about-me')">
    <div
      class="h-btn-wrap about-me"
      (mouseenter)="putHoverAbout()"
      (mouseleave)="deleteHoverAbout()"
    >
      <p
        class="h-btn"
        [ngClass]="currentUrl.includes('Projects') ? 'black' : 'white'"
      >
        {{ "HEADER.ABOUT_ME" | translate }}
      </p>
      <img
        class="aboutDrawnLine"
        #aboutDrawnLine
        src="assets/drawn-lines/1.png"
        alt=""
      /></div
  ></a>
  <a (click)="goToSection('skills')">
    <div
      class="h-btn-wrap skills"
      (mouseenter)="putHover('skillsDrawnLine')"
      (mouseleave)="deleteHover('skillsDrawnLine')"
    >
      <p
        class="h-btn"
        [ngClass]="currentUrl.includes('Projects') ? 'black' : 'white'"
      >
        {{ "HEADER.SKILLS" | translate }}
      </p>
      <img
        class="skillsDrawnLine"
        #skillsDrawnLine
        src="assets/drawn-lines/2.png"
        alt=""
      /></div
  ></a>
  <a (click)="goToSection('projects')">
    <div
      class="h-btn-wrap projects"
      (mouseenter)="putHover('projectDrawnLine')"
      (mouseleave)="deleteHover('projectDrawnLine')"
    >
      <p class="h-btn">{{ "HEADER.PROJECTS" | translate }}</p>
      <img
        class="projectDrawnLine"
        #projectDrawnLine
        src="assets/drawn-lines/4.png"
        alt=""
      /></div
  ></a>
  <a (click)="goToSection('contact')">
    <div
      class="h-btn-wrap contact"
      (mouseenter)="putHover('contactDrawnLine')"
      (mouseleave)="deleteHover('contactDrawnLine')"
    >
      <p class="h-btn">{{ "HEADER.CONTACT" | translate }}</p>
      <img
        class="contactDrawnLine"
        #contactDrawnLine
        src="assets/drawn-lines/3.png"
        alt="drawn-line"
      />
    </div>
  </a>
  <div class="h-btn t-switch">
    <span
      (mouseenter)="putHoverEnglish()"
      (mouseleave)="deleteHoverEnglish()"
      (click)="switchLanguage('en')"
      class="en"
    >
      <p
        class="text-en"
        [ngStyle]="{ color: this.status == 'german' ? '#f8f9fa' : '#F87A55' }"
      >
        EN
      </p>
      <img class="img-en" #en src="assets/img/Toggle.png" />
    </span>
    <span class="toggle">
      <img
        class="toggle-btn"
        #toggleBtn
        src="assets/img/toggle-btn.png"
        alt="Toggle Button"
      />
      <img
        (click)="toggleLanguage()"
        src="assets/img/toggle-bar.png"
        alt="Toggle Bar"
      />
    </span>
    <span
      (mouseenter)="putHoverGerman()"
      (mouseleave)="deleteHoverGerman()"
      (click)="switchLanguage('de')"
      class="de"
    >
      <p
        class="text-de"
        [ngStyle]="{ color: this.status == 'english' ? '#f8f9fa' : '#F87A55' }"
      >
        DE
      </p>
      <img class="img-de" #de src="assets/img/Toggle.png"
    /></span>
  </div>
  <div class="media-icons-resp">
    <a
      href="https://www.linkedin.com/in/dora-telekesi-05470431b/"
      target="_blank"
      class="icon-box linkedin"
      (mouseenter)="fillBackground('bgFillLinkedin')"
      (mouseleave)="unfillBackground('bgFillLinkedin')"
    >
      <img src="assets/icon/Linkedin.svg" alt="Linkedin Icon" />
      <div class="bg-fill linkedin" #bgFillLinkedin></div>
    </a>

    <a
      href="https://github.com/DoraTelekesi"
      target="_blank"
      class="icon-box github"
      (mouseenter)="fillBackground('bgFillGithub')"
      (mouseleave)="unfillBackground('bgFillGithub')"
    >
      <img src="assets/icon/Github.svg" alt="Github Icon" />
      <div class="bg-fill github" #bgFillGithub></div>
    </a>

    <a
      href="mailto:doratelekesi@gmail.com"
      class="icon-box email"
      (mouseenter)="fillBackground('bgFillEmail')"
      (mouseleave)="unfillBackground('bgFillEmail')"
    >
      <img src="assets/icon/Email.svg" alt="Email Icon" />

      <div class="bg-fill email" #bgFillEmail></div>
    </a>
  </div>
</div>

<div class="header-resp">
  <img class="name-logo-resp" src="assets/icon/logo.png" alt="logo" />
  <img
    [ngClass]="respMenuOpened ? 'hiddenImg' : 'visibleImg'"
    (click)="openRespMenu()"
    class="resp-menu-img"
    src="assets/img/Resp-menu.png"
    alt="responsive menu button"
  />
  <img
    [ngClass]="respMenuOpened ? 'visibleImg' : 'hiddenImg'"
    (click)="closeRespMenu()"
    class="resp-exit-img"
    src="assets/img/menu.svg"
    alt="responsive menu exit"
  />
</div>
