<div class="projects-content">
  <div class="col-1">
    <div class="title-section section">
      <h4>MY CRAFT</h4>
      <div class="main-title">
        <h1>Projects</h1>
        <img
          class="title-underline"
          src="assets/drawn-lines/portfolio-title.png"
          alt=""
        />
      </div>
      <p>
        I encourage you to check out my projects and interact with them! When
        creating responsive and user-friendly applications, I focus on efficient
        code. My goal is to combine intuitive design with optimal performance,
        ensuring users have a smooth experience. Feel free to explore my work
        and share your feedback!
      </p>
    </div>
    <div class="spooky-town section">
      <img class="pr-img" src="assets/img/SpookyTown.png" alt="" />
      <h4>Spooky Town</h4>
      <p>
        Jump, tun and throw game based on object-orientated approach. Help
        Skeleton Warrior to find coins and bottles to fight against the enemies.
      </p>
    </div>
  </div>
  <div class="col-2">
    <div class="join section">
      <div class="img-wrap">
        <img class="pr-img join-img" src="assets/img/Join.png" alt="" />
      </div>
      <h4>Join</h4>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks,
        drag and drop function, assign users and categories.
      </p>
    </div>
    <div class="dabubble section">
      <img class="pr-img" src="assets/img/SpookyTown.png" alt="" />
      <h4>Spooky Town</h4>
      <p>
        Jump, tun and throw game based on object-orientated approach. Help
        Skeleton Warrior to find coins and bottles to fight against the enemies.
      </p>
    </div>
  </div>
</div>
