@media (max-width: 950px) {
  .title {
    font-size: 90px;
  }

  .hero-main {
    max-width: 800px;
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 80px;
  }
  .t-2,
  .t-1 {
    line-height: 90px;
    margin: 0px;
  }
  .media-icons {
    display: none;
  }
  .profil-photo-section {
    right: 325px;
    top: 230px;
    > p {
      top: 165px;
      right: 60px;
    }
  }
  .hero-main {
    max-width: 650px;
    margin-bottom: 200px;
  }

  .profil-frame {
    width: 180px;
  }
}

@media (max-width: 700px) {
  .hero-main {
    max-width: 550px;
    margin-bottom: 220px;
    gap: 20px;
  }
  .profil-photo-section {
    right: 205px;
  }
  .t-2,
  .t-1 {
    line-height: 80px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 60px;
  }
  .hero-main {
    max-width: 450px;
  }
  .profil-photo-section {
    right: 185px;
  }
  .btn {
    width: 130px;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 50px;
  }
  .t-2,
  .t-1 {
    line-height: 70px;
  }
  .hero-main {
    max-width: 350px;
  }
  .profil-photo-section {
    right: 105px;
    top: 240px;
  }
  .btn {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 33px;
  }
  .t-2,
  .t-1 {
    line-height: 50px;
  }
  .profil-photo-section {
    right: 75px;
    top: 220px;
  }
  .hero-main {
    width: 300px;
    gap: 10px;
  }
}
@media (max-width: 360px) {
  .t-2,
  .t-1 {
    line-height: 40px;
  }

  .hero-main {
    width: 260px;
  }
  .profil-photo-section {
    right: 45px;
    top: 220px;
  }
}

@media (min-height: 1000px) {
  .profil-photo-section {
    top: -190px;
    right: 30px;
  }
}
@media (max-height: 650px) and (min-width: 600px) {
  .profil-photo-section {
    top: -90px;
  }
}

@media (max-height: 400px) and (max-width: 650px) {
  .hero-main {
    margin-bottom: 0px;
  }
  .profil-photo-section {
    top: -60px;
    right: 20px;
    > img {
      width: 100px;
    }
    > p {
      font-size: 16px;
      top: 84px;
      right: 30px;
    }
  }
}
