<div class="wrapper">
  <div class="hero-main">
    <div class="section-welc">
      <img
        class="wav-hand"
        src="assets/icon/waving_hand.svg"
        alt="waving hand"
      />

      <div
        class="btn-welcome btn"
        (mouseenter)="putHover()"
        (mouseleave)="deleteHover()"
      >
        <p class="world-welc" [class.visible]="!hovered">
          {{ "HERO.GREETING" | translate }}
        </p>
        <p class="name-welc" [class.visible]="hovered">
          {{ "HERO.GREET_NAME" | translate }}
        </p>
      </div>
    </div>
    <div class="section-title">
      <div>
        <h1 class="title t-1">
          <span class="upper">F</span><span>r</span><span>o</span><span>n</span
          ><span>t</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <div class="profil-photo-section">
          <img
            class="profil-frame"
            src="assets/img/polaroid-pic.png"
            alt="Polaroid frame"
          />
          <p>Dora :)</p>
        </div>
      </div>
      <div>
        <h1 class="title t-2">
          <span>D</span><span>E</span><span>V</span><span>E</span><span>L</span
          ><span>O</span><span>P</span><span>E</span><span>R</span>
        </h1>
      </div>
    </div>

    <a (click)="goToSection('contact')" class="contact"
      ><div class="btn-cont btn">{{ "HERO.CONTACT" | translate }}</div></a
    >
    <div class="media-icons">
      <a
        href="https://www.linkedin.com/in/dora-telekesi-05470431b/"
        target="_blank"
        class="icon-box linkedin"
        (mouseenter)="fillBackground('bgFillLinkedin')"
        (mouseleave)="unfillBackground('bgFillLinkedin')"
      >
        <img src="assets/icon/Linkedin.svg" alt="Linkedin Icon" />
        <div class="bg-fill linkedin" #bgFillLinkedin></div>
      </a>

      <a
        href="https://github.com/DoraTelekesi"
        target="_blank"
        class="icon-box github"
        (mouseenter)="fillBackground('bgFillGithub')"
        (mouseleave)="unfillBackground('bgFillGithub')"
      >
        <img src="assets/icon/Github.svg" alt="Github Icon" />
        <div class="bg-fill github" #bgFillGithub></div>
      </a>

      <a
        href="mailto:doratelekesi@gmail.com"
        class="icon-box email"
        (mouseenter)="fillBackground('bgFillEmail')"
        (mouseleave)="unfillBackground('bgFillEmail')"
      >
        <img src="assets/icon/Email.svg" alt="Email Icon" />

        <div class="bg-fill email" #bgFillEmail></div>
      </a>
    </div>
  </div>
</div>
