<div class="project-section">
  <div
    class="img-wrap"
    (mouseenter)="onImageEnter()"
    (mouseleave)="onImageLeave()"
  >
    <img
      #imageElement
      [id]="specialId"
      class="pr-img"
      [src]="imageUrl"
      [alt]="imageAlt"
      [ngClass]="imageExtraClass"
    />
    @if (hoveredImg===true){
    <div
      class="btn-wrap"
      (mouseenter)="hoveredImg = true; onEvent($event)"
      (mouseleave)="hoveredImg = true; onEvent($event)"
    >
      <div class="btn-cont btn">Project Details</div>
    </div>
    }
  </div>
  <h4>{{ title }}</h4>
  <p>
    {{ description }}
  </p>
</div>
