<div class="projects-content">
  <div class="col-1">
    <div class="title-section section">
      <h4>MY CRAFT</h4>
      <div class="main-title">
        <h1>Projects</h1>
        <img
          class="title-underline"
          src="assets/drawn-lines/portfolio-title.png"
          alt=""
        />
      </div>
      <p>
        I encourage you to check out my projects and interact with them! When
        creating responsive and user-friendly applications, I focus on efficient
        code. My goal is to combine intuitive design with optimal performance,
        ensuring users have a smooth experience. Feel free to explore my work
        and share your feedback!
      </p>
    </div>
    <app-project-item
      title="Spooky Town"
      description="Jump, tun and throw game based on object-orientated approach. Help
        Skeleton Warrior to find coins and bottles to fight against the enemies."
      imageUrl="assets/img/SpookyTown.png"
      imageAlt="Spooky Town Image"
      imageExtraClass="spooky-img"
    ></app-project-item>
  </div>
  <div class="col-2">
    <app-project-item
      title="Join"
      description="Task manager inspired by the Kanban System. Create and organize tasks,
        drag and drop function, assign users and categories."
      imageUrl="assets/img/Join.png"
      imageAlt="Join Image"
      imageExtraClass="join-img"
    ></app-project-item>
    <app-project-item
      title="Dabubble"
      description="This App is a Slack Clone App. It revolutionizes team communication and collaboration with its intuitive interface, real-time messaging, and robust channel organization."
      imageUrl="assets/img/dabubble.jpg"
      imageAlt="Dabubble Image"
      imageExtraClass="dabubble-img"
    ></app-project-item>
  </div>
</div>
