@mixin dFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-m-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1440px;
  width: 1000px;

  margin-bottom: 30px;
  margin-top: 30px;

  > .location-section {
    display: flex;
    flex-direction: column;
  }
}

.green {
  top: 0px;
  transform: rotate(-3deg);
  z-index: 3;
}
.blue {
  top: -100px;
  transform: rotate(-2deg);
}
.turqoise {
  top: -50px;
  transform: rotate(1deg);
}

.ripped-paper {
  position: absolute;
  width: 500px;
  height: auto;
}

.loc,
.reloc,
.rem {
  position: absolute;
  display: flex;
  gap: 20px;
  color: #f8f9fa;
  z-index: 5;
  font-size: 20px;
}

.loc {
  top: 20px;
  right: 140px;
  transform: rotate(-5deg);
}

.reloc {
  top: -20px;
  right: 140px;
  transform: rotate(4deg);
}

.rem {
  top: -65px;
  right: 130px;
  transform: rotate(-1deg);
}

.location-section {
  position: relative;
  margin-top: 100px;
}

.location,
.relocation,
.remote {
  position: relative;
  width: 500px;
  height: 150px;
}

.a-m-btn {
  @include dFlex();
  color: black;
  border: 1px solid black;
  border-radius: 100px;
  font-size: 18px;
  width: 154px;
  height: 40px;
  box-shadow: 2px 4px 0 0 black;
  transition: all 100ms ease-in-out;
  &:hover {
    background-color: #f87a55;
    transform: translate(2px, 4px);
    box-shadow: none;
    cursor: pointer;
  }
}

.a-m-title-wrap {
  position: relative;
  > h1 {
    font-size: 75px;
    margin: 10px;
  }
  > img {
    width: 350px;
    position: absolute;
    top: 80px;
  }
}

.a-m-text {
  display: flex;
  flex-direction: column;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@import "./responsive";
