@mixin dFlex($justify: center, $align: center, $direction: row, $gap: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  @if $gap != null {
    gap: $gap;
  }
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin pos($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin buttonStyle(
  $color: black,
  $bgHover: #f87a55,
  $width: 154px,
  $height: 40px,
  $fontSize: 18px
) {
  @include dFlex();
  color: $color;
  border: 1px solid $color;
  border-radius: 100px;
  font-size: $fontSize;
  width: $width;
  height: $height;
  box-shadow: 2px 4px 0 0 $color;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: $bgHover;
    transform: translate(2px, 4px);
    box-shadow: none;
    cursor: pointer;
  }
}

@mixin loc-style($top, $right, $rotate) {
  @include pos($top, $right);
  @include rotate($rotate);
  display: flex;
  gap: 20px;
  color: #f8f9fa;
  z-index: 5;
  font-size: 20px;
}


.a-m-wrap {
  @include dFlex(center, center, row, 30px);
  max-width: 1440px;
  width: 1000px;
  margin: 30px 0;
  > .location-section {
    display: flex;
    flex-direction: column;
  }
}

.a-m-section-right {
  width: 50%;
}

.green {
  top: 0;
  @include rotate(-3deg);
  z-index: 3;
  position: relative; 
}

.blue {
  top: -100px;
  @include rotate(-2deg);
  position: relative;
}

.turqoise {
  top: -50px;
  @include rotate(1deg);
  position: relative;
}

.ripped-paper {
  position: absolute;
  width: 500px;
  height: auto;
}

.loc {
  @include loc-style(20px, 120px, -5deg);
}

.reloc {
  @include loc-style(-20px, 120px, 4deg);
}

.rem {
  @include loc-style(-65px, 100px, -1deg);
}

.location-section {
  position: relative;
  margin-top: 100px;
  width: 50%;
}

.location,
.relocation,
.remote {
  position: relative;
  width: 100%;
  height: 150px;
}

.a-m-btn {
  @include buttonStyle();
}

.a-m-title-wrap {
  position: relative;
  > h2 {
    font-size: 75px;
    margin: 10px;
  }
  > img {
    width: 350px;
    position: absolute;
    top: 80px;
  }
}

.a-m-text {
  display: flex;
  flex-direction: column;
  > h3 {
    font-size: 19px;
  }
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@import "./responsive";
