<div class="a-m-wrap" id="about-me">
  <div class="location-section">
    <div class="location">
      <img
        class="ripped-paper green"
        src="assets/img/ripped-paper-1.png"
        alt=""
      />
    </div>
    <div class="loc">
      <img class="loc-icon" src="assets/icon/location.svg" alt="" />
      <p class="loc-text">Based in Münster</p>
    </div>
    <div class="relocation">
      <img
        class="ripped-paper turqoise"
        src="assets/img/ripped-paper-2.png"
        alt=""
      />
    </div>
    <div class="reloc">
      <img class="loc-icon reloc-i" src="assets/icon/relocation.svg" alt="" />
      <p class="loc-text reloc-t">Open to relocate</p>
    </div>
    <div class="remote">
      <img
        class="ripped-paper blue"
        src="assets/img/ripped-paper-3.png"
        alt=""
      />
    </div>
    <div class="rem">
      <img class="loc-icon rem-i" src="assets/icon/remote.svg" alt="" />
      <p class="loc-text rem-t">Open to work remote</p>
    </div>
  </div>
  <div class="a-m-section-right">
    <div class="a-m-text">
      <h4>WHO'S DORA</h4>
      <div class="a-m-title-wrap">
        <h1>About me</h1>
        <img
          #underline
          class="underline"
          src="assets/drawn-lines/about-me-title.png"
          alt=""
        />
      </div>
      <p class="a-m-text">
        Hello, I'm Dora. I've always been passionate about IT and have helped
        those around me with their PC-related issues. <br />
        After several years without my own computer, I purchased one and began
        programming mods and games with friends. <br />I enjoyed it so much that
        I decided to pursue it as a career. <br />What I appreciate most about
        programming is the constant opportunity to learn and the challenges that
        come with finding and fixing errors. <br />The feeling of having
        accomplished something motivates me to keep going. Let's work together
        to create something extraordinary!
      </p>
    </div>
    <div class="btn-wrap">
      <a [routerLink]="['/']" fragment="contact"><div class="a-m-btn">Let's talk</div></a
      >
    </div>
  </div>
</div>
