<div class="a-m-wrap" id="about-me">
  <div class="location-section">
    <div class="location">
      <img
        class="ripped-paper green"
        src="assets/img/ripped-paper-1.png"
        alt=""
      />
      <div class="loc">
        <img class="loc-icon" src="assets/icon/location.svg" alt="" />
        <p class="loc-text">{{ "ABOUT_ME.LOCATION" | translate }}</p>
      </div>
    </div>

    <div class="relocation">
      <img
        class="ripped-paper turqoise"
        src="assets/img/ripped-paper-2.png"
        alt=""
      />
      <div class="reloc">
        <img class="loc-icon reloc-i" src="assets/icon/relocation.svg" alt="" />
        <p class="loc-text reloc-t">{{ "ABOUT_ME.RELOCATION" | translate }}</p>
      </div>
    </div>

    <div class="remote">
      <img
        class="ripped-paper blue"
        src="assets/img/ripped-paper-3.png"
        alt=""
      />
      <div class="rem">
        <img class="loc-icon rem-i" src="assets/icon/remote.svg" alt="" />
        <p class="loc-text rem-t">{{ "ABOUT_ME.REMOTE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="a-m-section-right">
    <div class="a-m-text">
      <h3>{{ "ABOUT_ME.WHO_IS_DORA" | translate }}</h3>
      <div class="a-m-title-wrap">
        <h2>{{ "ABOUT_ME.ABOUT_ME" | translate }}</h2>
        <img
          #underline
          class="underline"
          src="assets/drawn-lines/about-me-title.png"
          alt=""
        />
      </div>
      <p class="a-m-text" [innerHTML]="'ABOUT_ME.TEXT' | translate"></p>
    </div>
    <div class="btn-wrap">
      <a (click)="goToSection('contact')"
        ><div class="a-m-btn">{{ "ABOUT_ME.CONTACT" | translate }}</div></a
      >
    </div>
  </div>
</div>
