<div class="skills-wrap">
  <div class="skills-content">
    <div class="title-section">
      <div class="title">
        <p>MY STACK</p>
        <div class="title-wrap">
          <h1>Skill set</h1>
          <img
            class="skill-title-line"
            src="assets/drawn-lines/skills-title.png"
            alt=""
          />
        </div>
      </div>
      <div class="title-text">
        <p>
          I have extensive experience with front-end technologies like HTML,<br />
          CSS, and JavaScript, as well as frameworks like Angular and React.<br />
          I am always open to learning new things and strive to continuously<br />
          improve my skills to create user-friendly and engaging interfaces.
        </p>
        <img src="assets/img/ripped-paper-skills.png" alt="" />
      </div>
    </div>
    <div class="icons-section">
      <div class="icons">
        <div class="icons-r1">
          <img src="assets/icon/HTML.svg" alt="HTML Icon" />
          <img src="assets/icon/CSS.svg" alt="CSS Icon" />
          <img src="assets/icon/Js.svg" alt="JavaScript Icon" />
          <img src="assets/icon/Ts.svg" alt="TypeScript Icon" />
          <img src="assets/icon/Angular.svg" alt="Angular Icon" />
        </div>
        <div class="icons-r2">
          <img src="assets/icon/Firebase.svg" alt="Firebase Icon" />
          <img src="assets/icon/Git.svg" alt="Git Icon" />
          <img src="assets/icon/Rest-Api.svg" alt="Rest-Api Icon" />
          <img src="assets/icon/Scrum.svg" alt="Scrum Icon" />
          <img
            src="assets/icon/Material Design.svg"
            alt="Material Design Icon"
          />
        </div>
      </div>
      <div class="sticker" (click)="revealImages()">
        <img
          #stickerImages
          [src]="peelOffImagesOpen[0]"
          class="sticker-img img-1"
          alt=""
        />
        <img
          #stickerImages
          [src]="peelOffImagesOpen[1]"
          class="sticker-img img-2"
          alt=""
        />
        <img
          #stickerImages
          [src]="peelOffImagesOpen[2]"
          class="sticker-img img-3"
          alt=""
        />

        <div
          [class.hide]="revealed"
          [class.show]="!revealed"
          class="sticker-text"
        >
          <img src="assets/img/arrow-white.png" alt="" />
          <p>Pull to peel</p>
        </div>

        <div class="opened-sticker-text"  [class.show]="revealed"[class.hide]="!revealed">
          <div>Also, I'm interested in diving into:</div>
          <div class="extra-icons">
            <div>
              <img src="assets/icon/React.png" alt="" />
              <p>React</p>
            </div>
            <div>
              <img src="assets/icon/Vue Js.png" alt="" />
              <p>Vue Js</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
