@media (max-width: 1100px) {
  .skills-content {
    width: 900px;
  }

  .title-section {
    flex-direction: column;
  }

  .icons-section {
    margin-left: 0;
  }
}
@media (max-width: 950px) {
  .skills-content {
    width: 800px;
  }
  .icons-section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
    gap: 60px;
  }
  .icons {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .skills-wrap {
    height: 130%;
  }
}
@media (max-width: 720px) {
  .title-wrap {
    h2 {
      font-size: 60px;
    }
  }
  .icons > div {
    width: 100%;
    max-width: 470px;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .icons-section {
    position: relative;
    margin-bottom: 170px;
  }
  .sticker {
    position: absolute;
    top: 250px;
    right: 0;
    > img {
      width: 180px;
      height: 180px;
    }
  }
  .sticker-text {
    width: 150px;
    > p {
      font-size: 35px;
    }
  }

  .title-text {
    > p {
      top: 35px;
    }
    > img {
      width: 480px;
      height: 180px;
    }
  }
  .opened-sticker-text {
    font-size: 14px;
    width: 150px;
    top: 25px;
    right: 13px;
  }
}
// @media (max-width: 600px) {
//   .skills-wrap {
//     height: 135%;
//   }
// }
@media (max-width: 550px) {
  // .skills-wrap {
  //   height: 140%;
  // }
  .title-wrap {
    h2 {
      font-size: 45px;
    }
    img {
      width: 250px;
      right: -10px;
    }
  }
  .opened-sticker-text {
    font-size: 14px;
    width: 130px;
    top: 25px;
    right: 13px;
  }

  .react,
  .vue {
    width: 25px;
    height: 25px;
  }

  .title-section {
    width: 400px;
  }
  .title-text {
    display: flex;
    justify-content: center;
    > p {
      top: 30px;
    }
    > img {
      width: 400px;
      height: 190px;
    }
  }
  .icons > div {
    max-width: 280px;
  }
  .sticker {
    top: 340px;
    right: 20px;
    > img {
      width: 150px;
      height: 150px;
    }
  }
  .icons-section {
    padding: 10px;
  }
  .icons {
    > div {
      > img {
        width: 58px;
        height: 58px;
      }
    }
  }

  .sticker-text {
    width: 130px;
    > p {
      font-size: 30px;
    }
    > img {
      width: 30px;
      height: 30px;
    }
  }
}
@media (max-width: 450px) {
  .title-section {
    width: 350px;
  }
  .title-text {
    display: flex;
    justify-content: center;
    > p {
      top: 35px;
      font-size: 15px;
    }
    > img {
      width: 370px;
      height: 190px;
    }
  }
}

@media (max-width: 400px) {
  .title-section {
    width: 320px;
  }
  .title-text {
    display: flex;
    justify-content: center;
    > p {
      top: 25px;
    }
    > img {
      width: 320px;
      height: 200px;
    }
  }
}

@media (max-width: 350px) {
  .title-section {
    width: 280px;
  }
  .title-text {
    display: flex;
    justify-content: center;
    > img {
      width: 290px;
      height: 200px;
    }
  }
}

@media (max-height: 1300px) {
  .skills-wrap {
    height: 100%;
  }
}
@media (max-height: 1050px) {
  .skills-wrap {
    height: 110%;
  }
}
@media (max-height: 1000px) {
  .skills-wrap {
    height: 120%;
  }
}

@media (max-height: 900px) {
  .skills-wrap {
    height: 130%;
  }
}
@media (max-height: 800px) {
  .skills-wrap {
    height: 140%;
  }
}

@media (max-height: 700px) {
  .skills-wrap {
    height: 160%;
  }
}

@media (max-height: 600px) {
  .skills-wrap {
    height: 170%;
  }
}
