.skills-wrap {
  background-image: url("/assets/img/skills-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  > .skills-content {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    gap: 40px;
  }
}
.title-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  color: #f8f9fa;
  gap: 20px;
  align-items: flex-end;
  > p {
    margin: 0;
    font-size: 25px;
  }
}

.title-text {
  // display: flex;
  position: relative;
  > p {
    width: 90%;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  > img {
    width: 650px;
    height: auto;
  }
}

.title-wrap {
  position: relative;
  > h1 {
    font-size: 75px;
    margin: 0;
  }
  > img {
    width: 310px;
    position: absolute;
    top: -10px;
    right: -30px;
  }
}

.sticker {
  position: relative;
  width: 200px;
  height: 200px;
  &:hover {
    cursor: pointer;
  }
  > img {
    top: 0;
    right: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(8deg);
    transition: opacity 0.5s ease;
  }
}
.img-2,
.img-3 {
  opacity: 0;
}

.sticker-text {
  z-index: 4;
  width: 180px;
  height: 150px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  > img {
    width: 50px;
    height: 50px;
  }
  > p {
    margin: 0;
    line-height: 40px;
    font-size: 40px;
    color: #f8f9fa;
    font-family: Kalam;
    font-weight: 200;
    text-align: center;
  }
}

.opened-sticker-text {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 4;
  top: 40px;
  font-size: 18px;
  transform: rotate(7deg);
  position: absolute;
  gap: 10px;
  > .extra-icons {
    display: flex;
    gap: 20px;
    > div {
      > img {
        filter: invert(100%);
      }
    }
  }
}

.hide {
  opacity: 0;
  transition: all 0.2s ease;
}
.show {
  opacity: 1;
  transition: all 2s;
}

.icons-section {
  display: flex;
  margin-left: 150px;
}

.icons {
  display: flex;
  > div {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    display: flex;
    gap: 50px;
    > img {
      width: 78px;
      height: 78px;
      filter: grayscale(100%);
      transition: all 0.1s ease-out;
      &:hover {
        filter: grayscale(0%);
        transform: scale(0.8);
      }
    }
  }
}
@import "./responsive";
