<div class="skills-wrap" id="skills">
  <div class="skills-content">
    <div class="title-section">
      <div class="title">
        <p>{{ "SKILLS.MY_STACK" | translate }}</p>
        <div class="title-wrap">
          <h1>{{ "SKILLS.SKILL_SET" | translate }}</h1>
          <img
            class="skill-title-line"
            src="assets/drawn-lines/skills-title.png"
            alt=""
          />
        </div>
      </div>
      <div class="title-text">
        <p>
          {{ "SKILLS.TEXT" | translate }}
        </p>
        <img src="assets/img/ripped-paper-skills.png" alt="" />
      </div>
    </div>
    <div class="icons-section">
      <div class="icons">
        <div>
          <img src="assets/icon/HTML.svg" alt="HTML Icon" />
          <img src="assets/icon/CSS.svg" alt="CSS Icon" />
          <img src="assets/icon/Js.svg" alt="JavaScript Icon" />
          <img src="assets/icon/Ts.svg" alt="TypeScript Icon" />
          <img src="assets/icon/Angular.svg" alt="Angular Icon" />

          <img src="assets/icon/Firebase.svg" alt="Firebase Icon" />
          <img src="assets/icon/Git.svg" alt="Git Icon" />
          <img src="assets/icon/Rest-Api.svg" alt="Rest-Api Icon" />
          <img src="assets/icon/Scrum.svg" alt="Scrum Icon" />
          <img
            src="assets/icon/Material Design.svg"
            alt="Material Design Icon"
          />
        </div>
      </div>
      <div class="sticker" (click)="revealImages()">
        <img
          #stickerImages
          [src]="peelOffImagesOpen[0]"
          class="sticker-img img-1"
          alt=""
        />
        <img
          #stickerImages
          [src]="peelOffImagesOpen[1]"
          class="sticker-img img-2"
          alt=""
        />
        <img
          #stickerImages
          [src]="peelOffImagesOpen[2]"
          class="sticker-img img-3"
          alt=""
        />

        <div
          [class.hide]="revealed"
          [class.show]="!revealed"
          class="sticker-text"
        >
          <img src="assets/img/arrow-white.png" alt="" />
          <p>{{ "SKILLS.PEEL" | translate }}</p>
        </div>

        <div
          class="opened-sticker-text"
          [class.show]="revealed"
          [class.hide]="!revealed"
        >
          <div>{{ "SKILLS.SKILL_EXTRA" | translate }}</div>
          <div class="extra-icons">
            <div class="extra-imgs">
              <img class="react"src="assets/icon/React.png" alt="" />
              <p>React</p>
            </div>
            <div>
              <img class="vue"src="assets/icon/Vue Js.png" alt="" />
              <p>Vue Js</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
