app-hero {
  z-index: 999;
}

app-references {
  display: flex;
  justify-content: center;
}
app-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/angular-projects/Portfolio/assets/img/contact-bg-1.png");
  background-size: cover;
}

app-about-me {
  display: flex;
  justify-content: center;
}
