.content-wrap {
  background-image: url("/angular-projects/Portfolio/assets/img/hero-bg-1.png");
  background-size: 100% 120%;
  background-position: center;
  > .content {
    display: flex;
    justify-content: center;
    > .impressum {
      color: #f8f9fa;
      max-width: 1440px;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
    }
  }
}

.go-back {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  color: #f8f9fa;
  &:hover {
    color: orange;
    cursor: pointer;
  }
  > img {
    width: 20px;
    height: 20px;
  }
}
