<div class="content-wrap" id="impressum">
  <div class="content">
    <div class="impressum">
      <div class="go-back" (click)="goBack()">
        <img src="assets/drawn-lines/go-back.png" alt="" />
        <p>Go Back</p>
      </div>
      <h1>{{ "IMPRESSUM.IMP" | translate }}</h1>
      <p>{{ "IMPRESSUM.RULE" | translate }}</p>
      <h2>Dora Telekesi</h2>
      <br />

      <p>
        Hofstraße 15<br />
        48167 Münster <br />
      </p>
      <p>
        <strong>{{ "IMPRESSUM.REPR" | translate }}</strong
        ><br />
        Dora Telekesi<br />
      </p>
      <p>
        <strong>{{ "IMPRESSUM.CONTACT" | translate }}</strong> <br />
        Telefon: 015128754578<br />
        E-Mail:
        <a href="mailto:doratelekesi@gmail.com">doratelekesi&#64;gmail.com</a
        ><br />
      </p>

      <h2>
        <strong>{{ "IMPRESSUM.DISCLAIMER" | translate }}</strong>
      </h2>

      <h3>
        <strong>{{ "IMPRESSUM.LIAB-CONTENT" | translate }}</strong>
      </h3>

      <p [innerHTML]="'IMPRESSUM.LIAB-CONTENT-TEXT' | translate"></p>
      <br /><br />
      <h3>
        <strong>{{ "IMPRESSUM.LIAB-LINKS" | translate }}</strong>
      </h3>
      <br /><br />
      <p>
        {{ "IMPRESSUM.LIAB-LINKS-TEXT" | translate }}
      </p>
      <br /><br />
      <h3>
        <strong>{{ "IMPRESSUM.COPYRIGHT" | translate }}</strong>
      </h3>
      <br /><br />
      <p>
        {{ "IMPRESSUM.COPYRIGHT-TEXT" | translate }}
      </p>
      <br /><br />
      <h3>
        <strong>{{ "IMPRESSUM.DATA-PROTECT" | translate }}</strong>
      </h3>
      <br /><br />
      <p [innerHTML]="'IMPRESSUM.DATA-PROTECT-TEXT' | translate"></p>

      <br />
      <br />
      <br />
      Impressum von
      <a href="https://impressum-generator.de" rel="dofollow"
        >Impressum-Generator.de</a
      >. Powered by
      <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
        >Franziska Hasselbach, Bonn</a
      >.
    </div>
  </div>
</div>
<!-- <p>
        <strong>Umsatzsteuer-ID: </strong> <br />
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
        Musterustid.<br /><br />
      </p> -->
<!-- <p>
        <strong>Aufsichtsbehörde:</strong><br />
        Musteraufsicht Musterstadt<br />
      </p> -->
