@media (max-width: 1200px) {
  .stickers {
    width: 800px;
  }
}

@media (max-width: 1000px) {
  app-reference-item {
    flex-direction: column;
    top: 20px;
    width: 800px;
  }
  .references {
    margin-bottom: 500px;
    width: 800px;
    > .title-section {
      > h2.main-title {
        font-size: 50px;
      }
    }
  }
  .stickers {
    width: 800px;
  }
}
@media (max-width: 800px) {
  app-reference-item {
    width: 600px;
  }
  .references {
    width: 600px;
  }
  .stickers,
  .title-section {
    width: 600px;
  }
}
@media (max-width: 700px) {
  app-reference-item {
    width: 500px;
  }
  .references {
    width: 500px;
    > .title-section {
      > h2.main-title {
        font-size: 45px;
      }
    }
  }
  .stickers {
    width: 500px;
  }
}
@media (max-width: 600px) {
  app-reference-item {
    width: 450px;
  }
  .references {
    width: 450px;
    > .title-section {
      margin-right: 0px;
      > h2.main-title {
        font-size: 45px;
      }
    }
  }

  .stickers {
    width: 450px;
  }
}
@media (max-width: 500px) {
  app-reference-item {
    width: 350px;
  }
  .references {
    width: 350px;
  }
  .stickers {
    width: 350px;
  }
  .title-section {
    width: 340px;
  }
}

@media (max-width: 400px) {
  app-reference-item {
    width: 280px;
  }
  .references {
    width: 280px;
  }
  .stickers {
    width: 280px;
  }
  .title-section {
    width: 280px;
  }
}
