@mixin dFlex($jc: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

app-reference-item {
  display: flex;
  position: relative;
}
.references {
  @include dFlex($fd: column);
  width: 100%;
  max-width: 1220px;
  align-items: flex-end;

  > .title-section {
    margin-bottom: 50px;
    margin-right: 20px;
    @include dFlex($fd: column, $ai: flex-end);
    > h1 {
      font-size: 74px;
      margin: 0;
    }
  }
}

.subtitle-section {
  @include dFlex();
  > .img-wrap {
    > img {
      width: 100px;
    }
  }
  > h4 {
    font-size: 20px;
  }
}

.stickers {
  max-width: 1440px;
  width: 1200px;
  height: 500px;
  position: relative;
  @include dFlex();
  margin: 0 auto;
}

app-reference-item {
  width: 900px;
  // width: 100%;
  position: absolute;
  // top: 0;
  // right: 30%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

@import "./responsive";
