<div class="references">
  <div class="title-section">
    <div class="subtitle-section">
      <div class="img-wrap">
        <img
          class="drawn-arrow"
          src="assets/drawn-lines/testimonials-1.png"
          alt=""
        />
      </div>
      <h3>{{ "REFERENCES.IN_THEIR_WORDS" | translate }}</h3>
    </div>
    <h2 class="main-title">
      {{ "REFERENCES.COLLEAGUES_THOUGHTS" | translate }}
    </h2>
  </div>
  <div class="stickers">
    <app-reference-item></app-reference-item>
  </div>
</div>
