@mixin dFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-content {
  display: flex;
  justify-content: center;
  max-width: 1990px;
  margin: 0 auto;
  margin-top: 150px;
  gap: 50px;
  > .col-1,
  .col-2 {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.projects-content-grid {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows: auto auto;
  gap: 50px;
  justify-content: center;
  max-width: 1990px;
  margin: 0 auto;
  margin-top: 150px;
}

.grid-item {
  width: 560px;
}

.section {
  height: 530px;
}

p {
  text-align: justify;
}

.main-title {
  > h1 {
    font-size: 75px;
    margin: 0;
  }
}

.title-underline {
  width: 300px;
}

.title-section {
  > h4 {
    font-size: 20px;
  }
}
