/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Regular.ttf);
}

@font-face {
  font-family: "Kalam";
  src: url(assets/fonts/Kalam/Kalam-Regular.ttf);
}
@font-face {
  font-family: "Kalam";
  src: url(assets/fonts/Kalam/Kalam-Light.ttf);
}

body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #f8f9fa;
}

app-header {
  display: flex;
  justify-content: center;
}

app-hero {
  z-index: 999;
}

app-references{
  display:flex;
  justify-content: center;
}

