.btn-pages {
  display: flex;
}
.links {
  align-items: flex-end;
}

.btn-section,
.legal {
  height: 80px;
}
.legal {
  display: flex;
  align-items: end;

  &:hover {
    cursor: pointer;
  }
}

footer {
  margin-bottom: 50px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
  > p {
    margin: 0;
  }
  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  > img {
    width: 50px;
    height: 50px;
  }
}

.footer-1 {
  flex-direction: column;
  > img {
    width: 80px;
    height: 80px;
  }
}

.legal {
  > div {
    position: relative;
    .legalDrawnLine {
      z-index: 999;
      position: absolute;
      top: 1px;
      right: -12px !important;
      width: 120px;
      height: auto;
    }
  }
}

.github-icon,
.linkedin-icon,
.email-icon {
  opacity: 0;
}

.github,
.linkedin,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: #f8f9fa;
  width: 134px;
  height: 40px;
  transition: width 0.6s ease-out;
  &:hover {
    cursor: pointer;
  }
  > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    opacity: 1;
    transition: opacity 0.01s ease;
    text-align: center;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(51, 85, 255);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
@import "./responsive";
